@import '../../sass/fonts';

.rootF {
    display: block;
}
.title {
    font-family: 'OpenSans SemiBold' !important;
    font-weight: 800 !important;
    margin-top: 12px !important;
    text-align: left;
}
.labelDesc {
    text-align: left;
    padding-top: 16px;;
    font-size: 16px !important;
}